auto-save-list
elpa
session.*
org-roam.db
tutorial
eln-cache
webkit
recentf
eshell/history*
eshell/lastdir
request
tramp
bookmarks
recentf
transient
.lsp-session*
.org-id-locations
*cache
.cask
.dap-breakpoints
.metals
.vscode
projects
projectile-bookmarks.eld
bookmarks
local.el
custom.el
cnfonts
emms
url
games
ido.last
history
quelpa
*.elc
*.eln
eclipse.jdt.ls
workspace