auto-save-list
elpa
session.*
org-roam.db
tutorial
eln-cache
webkit
recentf
eshell
request
tramp
bookmarks
recentf
transient
.lsp-session*
.org-id-locations
*cache
.cask
.dap-breakpoints
.metals
.vscode
projects
projectile-bookmarks.eld
bookmarks